.basement{
    background-color: #191C26;
    padding-top: 84px;
    padding-bottom: 84px;
}

.title {
  font-size: 42px;
  line-height: 1.17;

  letter-spacing: 0.05em;

  color: var(--white-color);
}
