body {
  font-family: Open Sans, sans-serif;
}

h1,h2 {
  font-family: Raleway;
}

.hero__sub-title,
.about__sub-title,
.price__sub-title,
.strong__sub-title,
.team__sub-title {
  font-weight: 600;
}


